extends layout 
block content 

<h1>About Us</h1>
<p> WE started this journey of our freshl, and daily made dounts back in 1992<br></p>
<p>We have dedicated ourselves to make every morning better than the last
img(src="https://images.ctfassets.net/rric2f17v78a/6x7SdNo5fPlmku58pW81an/7bae0d4491bf7b01ee9bf8b5e8027796/Screenshot-2024-09-11-at-11.00.32-AM.png")
</p>