extends layout

block content
  .top 
  img.big-logo(src="https://thespeedtrap.net/wp-content/uploads/2018/12/donut1.png?w=1360")
  <h1>Downtown Donut's</h1>
  <p>Welcome to our Donut Shop!<br>
  a(href="/menu") View Menu<br>
  a(href="/about") About Us<br>
  a(href="/comments") Comments Page<br>
  </p>
  <p><br>Cut the line and order here for online: 
  a(href="https://www.ubereats.com", target="_blank") UberEats<br>
  a(href="https://www.doordash.com", target="_blank") DoorDash
  </p>