block content

<h1>Here is our Menu</h1>
<p> Here is the Menu for Coffee and Donuts</p>

//Going to Use the URL for Krispy Kreme's menu for Donuts and Dunkin' Donut's for the Coffee
<ul>
<li>a(href="https://www.dunkindonuts.com/en/menu/espresso-and-coffee", target="_blank") Espresso & Coffee Menu</li>
<li>a(href="https://www.krispykreme.com/menu/doughnuts/all", target="_blank") Donut Menu</li>
</ul>

